.def{
	padding: 25px 20px 25px 35px;
	background-color: #79c9ff;
    background-image: url("arr4.png");
    background-repeat: no-repeat;
    background-origin:border-box;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
	color: black;
	margin-top: 10px;
	padding-top: 35px;
	font-size: 1em;
}

.def .title{
    color: #000;
    font-weight: bold;
    font-size:1em;
    margin-bottom: 0.6em;
}

.def .pict{
 	padding: 0px;
	background: none;
}

.def .qp-img-container {
    margin: 20px 0;
    position: relative;
}   

.def .qp-img-title {
    background: none repeat scroll 0 0 transparent;
    color: #000000;
    font-weight: bold;
    padding: 10px 0 0;
    position: relative;
}

.def .text_bullets{
	background-image: url("bullet_white.png");
}