.gloss{
	padding: 10px 20px 20px 60px;
	background: #79c9ff url(arr3.png) no-repeat;
	color: black;
	margin-top: 20px;
	font-size: 1em;
}

.gloss .title{
	color: black;
	font-weight: bold;
    font-size:1em;
    margin-bottom: 0.5em;
}

.gloss .qp-img-container{
	padding: 0px;
	background: none;
}

.gloss .qp-img{
	margin: 0px;
    border-style: none;
}

.gloss .audio{
    float: left;
    margin: 1px 8px 0 0;
    padding-top:5px;
}
.gloss .qp-audioplayer-button-playing{
	background: url(audio_stop_2.png) no-repeat scroll 0 0 transparent;
}

/*************** note ********************/

.gloss .note{
    margin-top: 10px;
    padding: 0 0 20px;;
    text-align:left;  
}

.gloss .text_bullets{
	background-image: url("bullet_white.png");
}