.slideshow{
	padding: 0px;
	color: white;
	margin-top: 20px;
	background: #79c9ff;
}
.qp-slideshow{
	position:relative;
}
.qp-slideshow-title-panel{
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	padding: 10px 30px 10px 30px;
}

.qp-slideshow-slide-title-panel{
    font-size: 1em;
	text-align: center;
	color:#fff;
	padding: 0px 30px 10px 30px;
	margin: 10px 0px 10px 0px;
}

.qp-slideshow-slide-image-panel{
	background: #79c9ff;
	text-align: center;
}

.qp-slideshow-slide-image-panel img{
	margin:0px;
}

.qp-slideshow-slides-panel{
	padding:0;
}

.qp-slideshow-button-panel{
	text-align: center;
	padding:0px;
	height:450px;
	position: absolute;
	top: 20px;
	left: 0px;
	width: 100%;
}
.sshow_title .qp-slideshow-button-panel {
    top: 43px;
}

/********************* active ********************************/
.qp-slideshow-button-play:active{
	background: url(next_hover.png);
}
.qp-slideshow-button-stop:active{
	background: url(next_hover.png);
}
.qp-slideshow-button-previous:active{
	background: url(prev_slide_hover.png);
}
.qp-slideshow-button-next:active{
	background: url(next_slide_hover.png);
}
.qp-slideshow-button-previous-up-disabled:active{
	background-image:url(prev_slide_dis.png);
}
.qp-slideshow-button-next-up-disabled:active{
	background-image:url(next_slide_dis.png);
}
/************************************************************/

.qp-slideshow-button-play{
	margin:5px;
	display:inline-block;
	width:100px;
	height:100px;
    background-color:transparent;
    background-position: left top;
    background-repeat: no-repeat;
    display:none;
}
.qp-slideshow-button-play-up{
	background-image:url(next.png);
}

.qp-slideshow-button-play-up-hovering{
	background-image:url(next.png);
}

.qp-slideshow-button-play-up-disabled{
	background-image:url(next_dis.png);
}

.qp-slideshow-button-stop{
	margin:5px;
	display:inline-block;
	width:100px;
	height:100px;
    background-color:transparent;
    background-position: left top;
    background-repeat: no-repeat;
    display:none;
}
.qp-slideshow-button-stop-up{
	background-image:url(next.png);
}
.qp-slideshow-button-stop-up-hovering{
	background-image:url(next.png);
}
.qp-slideshow-button-stop-up-disabled{
	background-image:url(next_dis.png);
}

.qp-slideshow-button-previous{
	margin:0 0 0 5%;
	display:inline-block;
	width:100px;
	height:450px;
    background-color:transparent;
    background-position: left top;
    background-repeat: no-repeat;
    float:left;
    position:relative;
}

.qp-slideshow-button-previous-up{
	background-image:url(prev_slide.png);
}
.qp-slideshow-button-previous-up-hovering, .qp-slideshow-button-previous-down-hovering{
	background-image:url(prev_slide.png);
}
.qp-slideshow-button-previous-up-disabled, .qp-slideshow-button-previous-down-disabled-hovering{
	background-image:url(prev_slide_dis.png);
}

.qp-slideshow-button-next{
	margin:0 5% 0 0;
	display:inline-block;
	width:100px;
	height:450px;
    background-color:transparent;
    background-position: left top;
    background-repeat: no-repeat;
    float:right;
    /*top:-47px;*/
    position:relative;
}
.qp-slideshow-button-next-up{
    background-image:url(next_slide.png);
}
.qp-slideshow-button-next-up-hovering, .qp-slideshow-button-next-down-hovering{
	background-image:url(next_slide.png);
}
.qp-slideshow-button-next-up-disabled, .qp-slideshow-button-next-down-disabled-hovering{
	background-image:url(next_slide_dis.png);
}

.qp-slideshow-slide-image{

}

