.text_bullets{
	background-image: url("bullet_01.png");
	color: black;
	margin-top: 10px;
	font-size:1em;
	background-position: left top;
    background-repeat: no-repeat;
    padding-left: 33px;
}

.text_bullets .qp-img{
border-style:none;
}    

.exer .text_bullets,
.exer_p .text_bullets{
	margin-top: 10px;
	font-size:1em;
	background-position: 0px 9px;
    padding-left: 33px;
}

.text_bullets .qp-mathtext {
    margin-top: -5px;
}

.text_bullets2{
	background-image: url("bullet_02.png");
	color: black;
	margin-top: 10px;
	margin-left: 30px;
	font-size:1em;
	background-position: left top;
    background-repeat: no-repeat;
    padding-left: 30px;
}

.text_bullets_mathtext{
	background-image: url("bullet_01.png");
	color: black;
	margin-top: -5px;
	font-size:1em;
	background-position: 0px 20px;
    background-repeat: no-repeat;
    padding-left: 33px;
}