
			<div class="row">
				
				<div class="span12">
					<div class="row">

						<div class="product-details clearfix">
							<div class="span5">
								<div class="product-img">

									#{if _resource.contentType == "Аудио"}
										<a class="fancybox" href="img/650x700.jpg"><img src="@{'/public/CORs'}/${_resource.id}/${_resource.posterName}" /></a>
										<audio src="@{'public/CORs'}/${_resource.id}/${_resource.corName}" controls>
										<source src="sound.ogg"> 
										<source src="sound.mp3"> 
										Beka: Ваш браузер не поддерживает аудио
									</audio>
									#{/if} 
									
									#{if _resource.contentType == "Видео"}
										<video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" width="370" height="250"
										      poster="@{'/public/CORs'}/${_resource.id}/${_resource.posterName}"
										      data-setup="{}">
										    <source src="@{'/public/CORs'}/${_resource.id}/${_resource.corName}" type='video/mp4' />
										    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
										</video>
									#{/if}
									
									#{if _resource.contentType == "SCORM"}
										<img src="@{'/public/CORs'}/${_resource.id}/${_resource.posterName}" /> <br />
										<a href="@{Application.playScorm(_resource.id)}" target="_blank"> Открыть SCORM</a> 
									#{/if}

								</div><!--end product-img-->
							</div><!--end span5-->

							<div class="span4">
								<div class="product-set">
									<div class="product-price">
										<span> ${_resource.title}</span>
									</div><!--end product-price-->
									<div class="product-rate clearfix">
										<div id='stars'></div> <span id="rate">${_resource.rating}</span>
										Оценил(и):<span id="rateCount">${_resource.rateCount} </span>
									</div><!--end product-inputs-->
									<div class="product-info">
										<dl class="dl-horizontal">
										  <dt>Автор:</dt>
										  <dd>${_resource.author}</dd>

										  <dt>Тип:</dt>
										  <dd>${_resource.contentType}</dd>

										  <dt>Дата:</dt>
										  <dd>${_resource.uploadDate.format('dd-MM-yy')}</dd>

										  <dt>Просмотров:</dt>
										  <dd>${_resource.viewed}</dd>

										  <dt>Хэштеги:</dt>
										  <dd>${_resource.keywords}</dd>

										  <dt>Описание:</dt>
										  <dd>${_resource.description}</dd>

										</dl>
									</div><!--end product-info-->
								</div><!--end product-set-->
							</div><!--end span4-->

						</div><!--end product-details-->

					</div><!--end row-->


					<div class="product-tab">
						<div class="tab-pane" id="read-review">
					        <h3>
					            #{if _resource.comments.size() < 1}
					            	Нет комментариев
					            #{/if}
					        </h3>
					        #{list items:_resource.comments, as:'comment'}
								<div class="single-review clearfix">
									<div class="review-header">
										<h4>${comment.author}</h4>
										<small>${comment.postedAt.format('dd MMM yy')}</small>
									</div><!--end review-header-->
									<div class="review-body">
										<p>${comment.content.escape().nl2br()}</p>
									</div><!--end review-body-->
					                <a href="@{Application.removeResComment(_resource.id, comment.id)}">удалить</a>
								</div>
					        #{/list}
				        </div>
					</div>
				</div><!--end span9-->

			</div><!--end row-->

 
<script type="text/javascript" charset="utf-8">
	generate_stars(${_resource.id}, ${_resource.rating}, 5, "stars");
</script>

