#{extends 'main.html' /}
#{set title:'fullResource' /}
 
#{if flash.success}
    <p class="success">${flash.success}</p>
#{/if}

#{displayFull resource:resource /}

					<div class="product-tab">
						<div class="tab-pane" id="make-review">
							<div class="form-horizontal">
								#{form @Application.resourceComment(resource.id)}
									#{ifErrors}
									    <p class="error">
									        ${errors[0]}
									    </p>
									#{/ifErrors} 
									<div class="control-group">
									    <label class="control-label" for="inputName">Your Name <span class="text-error">*</span></label>
									    <div class="controls">
									      <input type="text" name="author" id="inputName" placeholder="Enter Name..." value="${params.author}">
									    </div>
									</div>
									<div class="control-group">
										<label class="control-label" for="inputReview">Your Comment <span class="text-error">*</span></label>
									    <div class="controls">
									      <textarea name="content" id="inputReview" placeholder="Put your comment here...">${params.content}</textarea>
									    </div>
									</div>
									
									<div class="control-group">
									    <label class="control-label" for="code">Please type the code below: <span class="text-error">*</span></label>
									    <div class="controls">
									    	<img src="@{Application.captcha(randomID)}" /> <br />
									      <input type="text" name="code" id="inputName" placeholder="Enter Code..." value="">
									      <input type="hidden" name="randomID" value="${randomID}" />
									    </div>
									</div>
									<div class="control-group">
									    <div class="controls">
									      <button type="submit" class="btn btn-primary" name="submit">Add Comment</button>
									    </div>
									</div>
								#{/form}
							</div>
						</div>
					</div>


