/*----table with all borders------- */

.table2{
	padding: 25px 20px 25px 35px;
	background: #e6e6e6 url(arr2.png) no-repeat;
	color: black;
	margin-top: 20px;
	font-size: 1.125em;

}
/*
.table2 .title{
   	color: #000;
    font-weight: bold;
    font-size:1.1em;
    margin-bottom: 0.6em;
    }
 */   

.exer_p .table2{
	background: none;
	padding: 0px;	
}    
.exer .table2{
	background: none;
	padding: 0px;
}

.table2 .qp-table-table {
	border-collapse: collapse;
	margin: 20px 20px 20px 0;
}
.table2 td{
	border: 1px solid #aaa;
	/*border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;*/
}
/*
-----last column:
.table2 tr td:last-child {
    border: none;
--last row
tr > td:last-of-type {
}
    
}*/

.table2 .qp-table-cell {
	/*text-align: center;*/
	padding: 0.4em 0.7em 0.4em 0.7em;
}
.table2 .title{
    font-weight: bold;
    font-size:1.125em;
    text-align:center;
}
.table2 .col_title{
    font-weight: bold;
    /*font-size:1.1em;*/
    text-align:center;
}
.table2 .align_r{
    /*padding: 0px 3em 0px 2em;*/
    text-align:right;
}
.table2 .align_c{
    /*padding: 0px 3em 0px 2em;*/
    text-align:center;
}
.table2 .qp-textinteraction .qp-span{
	/*override*/
	line-height:normal;
}
.table2 .qp-textinteraction{
	/*override*/
	padding:0px;
}

.table2 img {
	max-width: 100%; 
	height: auto;
	width: auto\9; /* ie8 */
	margin: 5px 0px 5px 0px;
}
